<div ng-controller = "DesignController">

	<div class = 'col-sm-10'>
		<h2>Design Your Custom Solar Installation</h2>
		<h5>Draw polygons over individual roof faces on the map below, then specify the azimuth and tilt for each roof face. When finished, click "Evaluate Total Performance" to view an in-depth financial analysis for your customized solar system.</h5>
	</div>

	<div id = "map" class = 'col-sm-6'>
	</div>

	<!-- show roof faces; allow user to input info -->
	<div class = 'col-sm-6'>
		<div ng-repeat = "face in roofFaces" class = 'col-sm-8'>

			<form class = 'form-horizontal'>
				<h4>Face <span ng-bind = "face.id"></span></h4>
				<div class = 'form-group'>
					<label class = 'control-label col-sm-4'>Azimuth:</label>
					<div class = 'col-sm-8'>
						<input type = 'number' class = 'form-control' step = "0.01" min = "0" max = "360" placeholder = "degrees" ng-model = "face.azimuth" required>
					</div>
				</div>
				<div class = 'form-group'>
					<label class = 'control-label col-sm-4'>Tilt:</label>
					<div class = 'col-sm-8'>
						<input type = 'number' class = 'form-control' step = "0.01" min = "0" max = "90" placeholder = "degrees" ng-model = "face.tilt" required>
					</div>
				</div>
			</form>

		</div> <!-- end of ng-repeat for roofFaces -->

		<!-- ask user to evaluate total system -->
		<button ng-show = "roofFaces.length > 0" ng-click = "evaluatePerformance()" class = "btn btn-primary">
			Evaluate Total Performance
		</button>		
	</div>

</div>